[Unit]
Description=AIGFS Data Processor
After=aigfs-downloader.service

[Service]
Type=simple
User=lenovo1
WorkingDirectory=/home/lenovo1/aigfs_website
ExecStart=/home/lenovo1/aigfs_website/venv/bin/python backend/processor.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
