[Unit]
Description=AIGFS Web Viewer
After=aigfs-processor.service

[Service]
Type=simple
User={{USER}}
WorkingDirectory=/home/{{USER}}/aigfs_website
ExecStart=/home/{{USER}}/aigfs_website/venv/bin/python app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

