[Unit]
Description=AIGFS Web Viewer
After=aigfs-processor.service

[Service]
Type=simple
User=lenovo1
WorkingDirectory=/home/lenovo1/Documents/aigfs/aigfs_website
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/lenovo1/Documents/aigfs/aigfs_website/venv/bin/python app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
